<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312334389540-u5d6jd3if1l085i71dq4gia4fk0ooeae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312334389540-u5d6jd3if1l085i71dq4gia4fk0ooeae</string>
	<key>API_KEY</key>
	<string>AIzaSyBAQHGCEtsGdBfNHLuH8aEhts-HNIG3080</string>
	<key>GCM_SENDER_ID</key>
	<string>312334389540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docSaverApp</string>
	<key>PROJECT_ID</key>
	<string>docsaverapp-f938d</string>
	<key>STORAGE_BUCKET</key>
	<string>docsaverapp-f938d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312334389540:ios:52f31205298856366d23b1</string>
</dict>
</plist>